- page_title _('Start a Free Ultimate Trial')
- add_page_specific_style 'page_bundles/signup'
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"

- content_for :footer do
  = render 'devise/shared/minimal_footer'

= render "layouts/google_tag_manager_body"

- experiment(:free_trial_registration_redesign, user: current_user) do |e|
  - e.control do
    = render 'new'
  - e.candidate do
    = render 'new_design'
