!!! 5
- add_page_specific_style 'page_bundles/terms'
- @hide_top_bar = true
- @hide_top_bar_padding = true
- body_classes = [user_application_theme]
%html{ lang: I18n.locale, class: page_class }
  = render "layouts/head"

  %body{ class: body_classes, data: { page: body_data_page } }
    .layout-page.terms{ class: page_class }
      .content-wrapper.gl-pb-5
        .mobile-overlay
        .alert-wrapper
          = render "layouts/broadcast"
          = render 'layouts/header/read_only_banner'
          = render "layouts/flash"

        %div{ class: "#{container_class} limit-container-width" }
          .content{ id: "content-body" }
            = render Pajamas::CardComponent.new do |c|
              - c.with_header do
                = brand_header_logo({add_gitlab_black_text: true})
                - if current_user
                  .gl-display-flex.gl-gap-2.gl-align-items-center
                    .gl-text-right.gl-line-height-normal
                      .gl-font-weight-bold= current_user.name
                      .gl-text-gray-700 @#{current_user.username}
                    = render Pajamas::AvatarComponent.new(current_user, size: 32, avatar_options: { data: { testid: 'user-avatar-content' } })
              - c.with_body do
                = yield
